body {
  padding: 70px;
  background-color: #121212;
  color: #333;
}

.container {
  max-width: 1500px;
  background-color: #fdfdfd;
  padding: 1rem;
  border-radius: 13px;
}

h1, h2 {
  color: #0ce1e9;
}

.app-grid {
  display: flex;
  gap: 4rem;
}


.form-section {
  flex: 2;
  max-width: 300px;
}

.form-section form input,
.form-section form button {
  padding: 11px;
  margin: 9px;
  width: 100%;
  font-size: 1rem;
  border: 3px solid #bbb;
  border-radius: 6px;
  
}



.form-section form button {
  background-color: #1a1a1a;
  color: rgb(15, 243, 232);
  cursor: pointer;
  
}

.form-section form button:hover {
  background-color: #050000;
}

.search-bar input {
  padding: 11px;
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
}

.table-section {
  flex: 2;
}

table {
  width: 100%;

}

table th,
table td {
  padding: 14px 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

table th {
  background-color: #333;
  color: #fff;
  
}
